
html, body {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    overflow-x: hidden; 
}

.navbar {
    border-radius: 20;
}

.actions {
    float: right;
    margin-top: 30px;
}

.tablesorter th {
    cursor: pointer;
}